{{#if imdbID}}
  <div class="movie-item"
    data-id="{{imdbID}}"
    data-title="{{Title}}"
    data-poster="{{Poster}}"
    data-year="{{Year}}"
    data-runtime="{{Runtime}}"
    data-genre="{{Genre}}"
    data-rating="{{imdbRating}}"
    data-rated="{{Rated}}"
    data-director="{{Director}}"
    data-actors="{{Actors}}"
    data-awards="{{Awards}}"
  >
    <div class="movie-header">
      <button class="movie-poster js-open-modal-btn" data-movie="{{imdbID}}">
        <img src="{{#if (eq Poster "N/A")}}/images/image-fallback.png{{else}}{{Poster}}{{/if}}" 
        alt="{{Title}}" title="{{Title}}" width="275" height="250">
      </button>
    </div>
    
    <div class="movie-body">
      <h2 class="movie-title">{{Title}}</h2>
      <div class="movie-info-container">
        <span class="movie-year">{{Year}} •</span>
        <span class="movie-runtime">{{Runtime}} •</span>
        <span class="movie-genre">{{Genre}}</span>
      </div>

      <div class="movie-rating">
        <img class="rating-star-icon" src="/icons/rating-star-icon.svg" alt="Movie rating star icon">
        <span>{{imdbRating}}</span>
      </div>											
    </div>
    <div class="movie-buttons-container">
      {{#if (eq context "search")}}
        <button class="toggle-watchlist-btn js-toggle-watchlist" data-movie="{{imdbID}}">
          <img class="icon" src="/icons/plus-icon.svg" alt="Plus icon">
          <span>Watchlist</span>
        </button>
      {{else}}
        <button class="remove-movie-btn js-remove-movie" data-movie="{{imdbID}}">
          <img class="icon" src="/icons/minus-icon.svg" alt="Minus icon">
          <span>Watchlist</span>
        </button>
      {{/if}}
      <button class="movie-info-btn js-open-modal-btn" data-movie="{{imdbID}}">
        <span>i</span>
      </button>
    </div>

    <dialog class="movie-modal">
      <div class="modal-wrapper">
        <button class="close-modal-btn js-close-modal-btn">
          <svg aria-hidden="true" focusable="false" width="28px" height="28px">
            <title>Close Icon</title>
            <use xlink:href="#close-icon"/>
          </svg>
        </button>
        <div class="modal-header">
          <div class="movie-img-wrapper">
            <img class="movie-img" src="{{#if (eq Poster "N/A")}}/images/image-fallback.png{{else}}{{Poster}}{{/if}}" width="120" height="156">
          </div>
          <div class="header-info-container">
            <h2>{{Title}}</h2>
            <div class="info-container">
              <span>{{Year}} </span>
              <span>• {{Runtime}}</span>
              <span>• {{Rated}}</span>					
            </div>
            <p>{{Genre}}</p>
            <div class="rating">
              <img class="rating-star-icon" src="/icons/rating-star-icon.svg" alt="Movie rating star icon">
              <span>{{imdbRating}} / 10</span>
            </div>			
          </div>
        </div>
        <div class="modal-body">
          <p class="movie-plot">{{{Plot}}}</p>
          <p><span>Director:</span> {{Director}}</p>
          <p><span>Actors:</span> {{Actors}}</p>
          <p><span>Awards:</span> {{Awards}}</p>

          {{#if (eq context "search")}}
            <button class="toggle-watchlist-btn js-toggle-watchlist" data-movie="{{imdbID}}">
              <img class="icon" src="/icons/plus-icon.svg" alt="Plus icon">
              <span>Watchlist</span>
            </button>
          {{/if}}
        </div>
      </div>
    </dialog> 
  </div>
{{/if}}